<!doctype html>
<html>
<head>
<title>Easy ID</title>
<link rel="stylesheet" type="text/css" href="static/easyid.css">
</head>
<body>
<h1>This is where we get our easy ids.</h1>
<form method="POST" action="/" class='form-style-1'>
    <input type="text" name="input_string"
    value=
    {% if value %}
    "{{value}}""
    {% else %}
    ""
    {% endif %}>

    <input type="submit" value="Get ID">

</form>
{% if value %}
<h1>The easy id for “{{value}}” is “{{gid}}.”</h1>
{% else %}
<h1>Submit the form to get an ID.</h1>
{% endif %}
</body>
</html>